:root {
    --clr-primary: hsl(25, 97%, 53%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(217, 12%, 63%);
    --clr-neutral-400: hsl(216, 12%, 54%);
    --clr-neutral-900: hsl(214, 14%, 19%);
    --clr-background: linear-gradient(to bottom,hsl(212, 18%, 14%), hsl(220, 16%, 11%));
    --clr-dark: hsl(216, 12%, 8%);
    /* --fs-normal: 1rem;  */
    --fs-normal: 0.938rem; 
    --fs-heading: 2rem;
    --fs-accent: 1.15rem;
    --ff-normal: 'Overpass', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;

    --clr-temp-1: rgb(206, 60, 60);
    --clr-temp-2: rgb(45, 45, 163);
    --clr-temp-3: rgb(141, 57, 141); 
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-normal);
  background-color: var(--clr-dark);
  font-family: var(--ff-normal);

  color: var(--clr-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.card {
  max-width: 32rem;
  height: 32.5rem;
  background: var(--clr-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.625rem;
  padding: 2rem;
}

#thankyou-state{
  /* position: absolute; */
  display: none;
}

/* #rating-state {
  display: none;
} */

.rating-btn-list {
    border: 3px solid rgb(137, 218, 129);
    display: flex;
    justify-content: space-between;
}


.btn-rating {
    aspect-ratio: 1/1;
    background-color: var(--clr-temp-1);
    color: var(--clr-light);
    border-radius: 50%;
    border: none;

    height: 4rem;
}

/* .rating-btn-list > li {
  padding: 0.5rem;
} */

.btn-rating:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn-rating:focus {
  background-color: var(--clr-neutral-100);
  color: var(--clr-light);
}

.btn-submit {
  background: var(--clr-primary);
  border: none;
  border-radius: 2rem;
  color: var(--clr-light);
  font-size: var(--fs-accent);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: var(--fw-bold);
  height: 3.5rem;
  width: 100%;
}

.btn-submit:hover{
  background-color: var(--clr-light);
  color: var(--clr-primary);
}

.icon-star-background {
  background: var(--clr-neutral-100);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-star {
  width: 1.25rem;
  height: 1.25rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 640px) {
  .card {
    width: 23rem;
    height: 23.5rem;
  }

  .btn-submit {
    height: 2.5rem;
  }

  .btn-rating {
    height: 3rem;
  }
} 

@media (max-width: 380px) {
  .card {
    width: 20rem;
  }

  .btn-rating {
    height: 2.5rem;
  }

} 
