:root {
    --clr-primary: hsl(25, 97%, 53%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(217, 12%, 63%);
    --clr-neutral-400: hsl(216, 12%, 54%);
    --clr-neutral-900: hsl(214, 14%, 19%);
    /* --clr-background: linear-gradient(to bottom,hsl(212, 18%, 14%), hsl(220, 16%, 11%)); */
    --clr-background: radial-gradient(farthest-side at top center, hsl(215deg, 17%, 15%), hsl(215deg, 27%, 12%));
    --clr-dark: hsl(216, 12%, 8%);
    --fs-normal: 0.938rem; 
    --fs-heading: 1.75rem;
    --fs-accent: 1rem;
    --ff-normal: 'Overpass', sans-serif;
    --line-height-text: 1.5; 
    --fw-normal: 400;
    --fw-bold: 700;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-normal);
  background-color: var(--clr-dark);
  font-family: var(--ff-normal);

  color: var(--clr-neutral-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

main {
  max-width: 26.25rem;
  min-height: 26.25rem;
}

h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--clr-light);
}

.card {
  width: 100%;
  background: var(--clr-background);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1rem;
  line-height: var(--line-height-text);
}

#thankyou-state{
  /* position: absolute; */
  display: none;

  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.rating-selected {
  color: var(--clr-primary);
  background: var(--clr-neutral-900);
  font-size: var(--fs-accent);
  text-align: center;
  border-radius: 2rem;
  padding: 0.25em 1em;
  margin-top: 1em;
}
.thankyou-state-header {
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thankyou-state-header > img {
  margin: 1rem;
}


/* #rating-state {
  display: none;
} */

.rating-btn-list {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem;
}


.btn-rating {
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-400);
    border-radius: 50%;
    border: none;
    width: 3.25em;
    height: 3.25em;
    font-size: var(--fs-accent);
}

.btn-rating:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn-rating:focus {
  background-color: var(--clr-neutral-100);
  color: var(--clr-light);
}

.btn-submit {
  background: var(--clr-primary);
  border: none;
  border-radius: 2rem;
  color: var(--clr-light);
  font-size: var(--fs-accent);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: var(--fw-bold);
  height: 2.8em;
  width: 100%;
}

.btn-submit:hover{
  background-color: var(--clr-light);
  color: var(--clr-primary);
}

.icon-star-background {
  background: var(--clr-neutral-900);
  font-size: var(--fs-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 3em;
}

.icon-star {
  width: 1em;
  height: 1em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
@media (min-width: 576px) {
  main {
    border-radius: 2rem;
    max-width: 25.89rem;
    min-height: 25.948rem;
    padding: 1.75rem;

  }
} */

@media (max-width: 680px) {
  :root {
    --fs-heading: 1.5rem;
    --fs-accent: 0.828rem;
  }

  main {
    border-radius: 2rem;
    max-width: 25rem;
    padding: 1.5rem;
  }
}