:root {
    --clr-primary-100: hsl(220, 15%, 55%);
    --clr-primary-400: hsl(228, 45%, 44%); 
    --clr-primary-900: hsl(218, 44%, 22%);
    --clr-neutral: hsl(212, 45%, 89%);
    --clr-light: hsl(0, 0%, 100%);

    --ff-base: 'Outfit', sans-serif;

    --fs-normal: 0.938rem;
    --fs-heading: 1.25rem; 

    --fw-normal: 400;
    --fw-bold: 700;
}

/* Simple CSS reset from https://www.digitalocean.com/community/tutorials/css-minimal-css-reset  */
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, 
p {
    margin: 0;
    padding: 0;
    font-weight: var(--fw-normal);
    font-family: var(--ff-base);
}

p {
    padding: 0.938rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-100);
}

.card {
    background-color: var(--clr-light);
    height: 500px;
    max-width: 325px;
    border-radius: 25px;
    padding: 1.25rem;
    text-align: center;
}

.card-heading {
    font-size: var(--fs-heading);
    color: var(--clr-primary-900);
    font-weight: var(--fw-bold);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: var(--clr-primary-400);
}

